# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
fontawesome-pro-5.15.4-web
public/fontawesome/js/*
public/fontawesome/scss/*
public/fontawesome/metadata/*
public/fontawesome/sprites/*
public/fontawesome/sprites-full/*
public/fontawesome/svgs/*
public/fontawesome/svgs-full/*
public/fontawesome/webfonts/*
public/fontawesome/less/*
public/fontawesome/attribution.js
public/fontawesome/LICENSE.txt